name: CI

on:
  push:
    branches: 
        - main
  pull_request:


jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Check formatting
        run: go fmt ./...
      - name: Run go vet
        run: go vet ./...
      - name: Run tests
        run: go test -v -race -shuffle=on -count=1 ./...

  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            goos: linux
            goarch: amd64
          - os: ubuntu-latest
            goos: linux
            goarch: arm64
          - os: macos-latest
            goos: darwin
            goarch: amd64
          - os: macos-latest
            goos: darwin
            goarch: arm64
          - os: windows-latest
            goos: windows
            goarch: amd64
          - os: windows-latest
            goos: windows
            goarch: arm64
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Build
        shell: bash
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
        run: |
          export EXT=""
          if [ "${{ matrix.goos }}" = "windows" ]; then
            export EXT=".exe"
          fi
          go build -v -o "gh-slimify-${{ matrix.goos }}-${{ matrix.goarch }}$EXT" ./cmd/slimly

